<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${movie.getTitle()} + ' Info Page'">Movie Info Page</title>
    <link rel="stylesheet" href="/css/movie.css">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: header-navbar}"></div>

<main>
    <div class="movie-banner">
        <div class="gradient-overlay"></div>
        <img th:src="${movie.getPosterImageLink()}" th:alt="${movie.getTitle()}">
        <div class="button-container">
            <button class="button play-button" th:attr="data-trailer=${movie.getTrailerLink()}" onclick="playTrailer(this)">
                <div class="play-icon"><i class="fas fa-play"></i></div>
                Play
            </button>

            <div th:if="${movie.getEvents() != null and !movie.getEvents().isEmpty()}" class="event-button">
                <a th:each="event : ${movie.getEvents()}"
                   th:href="@{'/tickets/' + ${event.id} + '/seats'}"
                   class="button event-button"
                   th:text="${#temporals.format(event.showTime, 'yyyy-MM-dd HH:mm')}">
                </a>
            </div>

            <button th:if="${movie.getEvents() == null or movie.getEvents().isEmpty()}" class="button soon-button">
                SOON
            </button>
        </div>
    </div>

    <div class="movie-details">
        <h1 th:text="${movie.getTitle()}">Movie Title</h1>
        <div class="movie-info">
            <span th:text="${movie.getDurationMinutes()} + ' min'">Duration</span>
            <span th:text="${movie.getRating()} + ' ⭐️'">Rating</span>
            <span th:text="${movie.getLanguage()}">Language</span>
            <span th:text="'Category: ' + ${movie.getCategoryName()}">Category</span>
        </div>

        <div class="movie-description">
            <p th:text="${movie.getDescription()}">Movie description goes here...</p>
        </div>

        <div class="scene-images">
            <div th:each="sceneImageLink : ${movie.getSceneImageLinks()}">
                <img th:src="${sceneImageLink}" alt="Scene Image">
            </div>
        </div>
    </div>
</main>

<div id="trailer-modal" class="trailer-modal">
    <div class="trailer-content">
        <span class="close" onclick="closeTrailer()">×</span>
        <iframe id="trailer-video" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script>
    function playTrailer(button) {
        const trailerLink = button.getAttribute("data-trailer");
        document.getElementById('trailer-modal').style.display = 'block';
        document.getElementById('trailer-video').src = 'https://www.youtube.com/embed/' + extractYouTubeId(trailerLink);
    }

    function extractYouTubeId(url) {
        const match = url.match(/(?:v=|\/)([0-9A-Za-z_-]{11})/);
        return match ? match[1] : '';
    }

    function closeTrailer() {
        const modal = document.getElementById('trailer-modal');
        const iframe = document.getElementById('trailer-video');
        modal.style.display = 'none';
        iframe.src = '';
    }
</script>
</body>
</html>