<div th:fragment="content">
    <div class="table-container">
        <h2>My Tickets</h2>

        <table class="table">
            <thead>
            <tr>
                <th class="table-head">Movie</th>
                <th class="table-head">Show Time</th>
                <th class="table-head">Cinema Hall</th>
                <th class="table-head">Row</th>
                <th class="table-head">Column</th>
                <th class="table-head">Price</th>
                <th class="table-head">Purchased At</th>
                <th class="table-head">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-cell" th:each="ticket : ${myTickets}">
                <td class="table-cell" th:text="${ticket.event.movie.title}"></td>
                <td class="table-cell" th:text="${#temporals.format(ticket.event.showTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td class="table-cell" th:text="${ticket.event.cinemaHall.name}"></td>
                <td class="table-cell" th:text="${ticket.rows}"></td>
                <td class="table-cell" th:text="${ticket.columns}"></td>
                <td class="table-cell" th:text="${ticket.price}"></td>
                <td class="table-cell" th:text="${#temporals.format(ticket.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td class="action-buttons">
                    <a th:href="@{/tickets/{id}/download(id=${ticket.id})}" class="btn-download">Download</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
